@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .visible {
    animation: slideInLeft 1s ease forwards;
    opacity: 1;
  }
  .hidden {
    opacity: 0;
  }
  