/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(320deg, rgb(231,79,42), rgb(0,0,0));
  background-attachment: fixed; /* Arka planı sabitler */
  background-size: cover;
  color: #ffffff; /* Metin rengini kontrast için beyaz yap */
}

.App {
  position: relative;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;
  padding: 10px 20px;
}

.content {
  padding-top: 60px; /* Sabit başlığın altında boşluk bırak */
}

.services, .projects{
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  background-color:transparent; /* Bölümlere şeffaf arka plan ekleyin */
}

.projects {
  background-color: transparent;
}
.footer {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease forwards;
}

.slide-in-right {
  animation: slideInRight 1s ease forwards;
}

.slide-out-left {
  animation: slideOutLeft 1s ease forwards;
}

.slide-out-right {
  animation: slideOutRight 1s ease forwards;
}
